.coin__app {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: white;
  color: #000;
  min-width: 320px;
  height: 100vh;
}

.coin__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin__title {
  font-size: 35px;
}

.coin__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coin__input-cryptoname__container {
  width: 225px;
  height: 61px;
  background-color: rgb(231, 237, 244);
  margin-top: 20px;
  border-radius: 2px;
}

.coin__input-cryptoname-title {
  box-sizing: border-box;
  margin: 0;
  padding: 3px 0 0 5px;
  font-size: 13px;
  background-color: rgb(231, 237, 244);
  width: 225px;
  border-radius: 2px;
}

.coin__input-cryptoname {
  box-sizing: border-box;
  width: 225px;
  height: 40px;
  min-height: 25px;
  border: none;
  padding: 10px 0 10px 10px;
  margin: 0;
  background-color: rgb(231, 237, 244);
}
.coin__input-cryptoname:focus {
  outline: none;
}

.coin__amount_container {
  display: flex;
  flex-direction: row;
  width: 225px;
  margin-top: 20px;
  background-color: rgb(231, 237, 244);
}

.coin__amount-btn {
  display: flex;
  flex-direction: column;
  width: 165px;
}

.coin__amount {
  display: flex;
  flex-direction: column;
  width: 165px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.coin__crypto_amount {
  margin: 0;
  padding: 5px 0 0 5px;
  font-size: 13px;
  width: 160px;
  background-color: rgb(231, 237, 244);
}

.coin__container-section {
  display: flex;
  flex-direction: row;
}

.coin__crypto_amount-value {
  padding: 10px 0 10px 10px;
  margin: 0;
  background-color: rgb(231, 237, 244);
}

.coin__crypto_amount-value-v {
  padding: 10px 0 10px 10px;
  margin: 0 40px 0 auto;
}

.coin__btn {
  border: none;
  background-color: rgb(49, 55, 65);
  color: white;
  width: 60px;
  height: 30.5px;
  font-size: 25px;
  border-radius: 3px;
}

.coin__total-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
}

.coin__crypto_total-value-price {
  margin: 25px 0px 4px auto;
}

.coin__crypto_total-value-title {
  margin: 25px auto 4px 0;
}

.coin__form-submit {
  margin-top: 30px;
  border: none;
  height: 33px;
  background-color: rgb(49, 55, 65);
  color: white;
  font-size: 14px;
  border-radius: 3px;
}

.coin__crypto_total-price {
  margin: 25px 0px 4px auto;
}

.coin__crypto_total-title {
  margin: 25px auto 4px 0;
}